/* ------------------- theme__milk ----------------*/

/* +++++++++++++++++++++++++++++++++++++index++++++++++++++++++++++++++++++++++++++ */
:root {
  --page-background-color-milk: #d9dab8;

  --title-color-milk: rgba(26, 123, 112, 0.8);

  --all-text-color-milk: white;

  --all-wrappers-background-color-milk: rgba(26, 123, 112, 0.7);
  --all-wrappers-menu-boxshadow-milk: 0px 0px 2px 2px rgba(26, 123, 112, 0.5),
    0 0 10px 2px rgba(189, 234, 229, 0.5);

  --td-th-color-milk: rgb(19, 131, 97);
  --td-th-background-milk: #d9dab8;
  --td-th-box-shadow-milk: 0px 3px 10px 3px rgba(26, 123, 112, 0.5) inset,
    0 0 5px 2px rgba(26, 123, 112, 0.5);

  --td-focus-outline-milk: 2px solid rgba(26, 123, 112, 0.5);
  --td-after-focus-color-milk: var(--color-JW-label);

  --after-td-text-color-milk: rgba(26, 123, 112, 1);

  --days-today-color-milk: #fff;

  --delete_btn-background-color-icon1-milk: rgba(93, 126, 40, 0.6);
  --delete_btn-boxshadow-icon1-milk: 0px 0px 20px 5px rgba(255, 238, 0, 0.6);

  --delete_btn-background-color-icon2-milk: rgb(183 183 70 / 70%);
  --delete_btn-boxshadow-icon2-milk: 0px 0px 10px rgb(251 141 7 / 80%),
    0px 0px 10px 5px rgb(251 181 7 / 80%) inset;

  --after-delete-btn-color-milk: white;
  --after-wrappers-btn-switch-color-hover-milk: #ffffffad;
  --wrappers-btn-switch-background-color-milk: rgba(255, 255, 255, 0.4);
  --triangle-color-milk: rgba(26, 123, 112, 1);

  --burger-menu-color-milk: rgba(26, 123, 112, 1);

  --release-color-milk: rgb(0, 26, 255);

  --back-to-top-background-color-milk: rgb(172, 105, 18);
  --back-to-top-background-color-hover-milk: var(--release-color);

  --modal-btn-boxshadow-hover-milk: 3px 3px 10px 2px #0a0907,
    0px 0px 10px 3px #ffffff9c inset;
  --modal-btn-boxshadow-active-milk: 0px 0px 10px 3px #595448 inset;

  --overlay-background-color-milk: rgba(255, 255, 255, 0.164);

  --menu-item-boxshadow-milk: 5px 6px 10px 0px rgb(0, 0, 0, 0.7);

  --mustardseed-counter-text-color-milk: var(--after-td-text-color-milk);
}

.app.milk {
  background-color: var(--page-background-color-milk);
}

.app.milk .wrapper-table_title {
  color: var(--title-color-milk);
}

.app.milk td {
  color: var(--td-th-color-milk);
  background: var(--td-th-background-milk);
  box-shadow: var(--td-th-box-shadow-milk);
}

.app.milk th {
  color: var(--td-th-color-milk);
  background: var(--td-th-background-milk);
  box-shadow: var(--td-th-box-shadow-milk);
}

.app.milk td:focus {
  outline: var(--td-focus-outline-milk);
  color: var(--td-after-focus-color-milk);
}

.app.milk .publ:after {
  color: var(--after-td-text-color-milk);
  font-family: 'Arturo Black outline';
}

.app.milk .video:after {
  color: var(--after-td-text-color-milk);
  font-family: 'Arturo Black outline';
}

.app.milk .pp:after {
  color: var(--after-td-text-color-milk);
  font-family: 'Arturo Black outline';
}

.app.milk .hours:after {
  color: var(--after-td-text-color-milk);
  font-family: 'Arturo Black outline';
}

.app.milk .iz:after {
  color: var(--after-td-text-color-milk);
  font-family: 'Arturo Black outline';
}

.app.milk .days.days_today {
  background: var(--days-today-background);
  color: var(--days-today-color-milk);
  font-family: 'Natasha';
}

.app.milk .days_today {
  background: var(--days-today-background);
  color: var(--days-today-color-milk);
  font-family: 'Natasha';
}

.app.milk .btn_delete_values {
  background: var(--td-th-background-milk) url(../../assets/images/recycle.png)
    no-repeat center center / contain;
  box-shadow: var(--td-th-box-shadow-milk);
}

.app.milk .btn_delete_values.active {
  background: var(--td-th-background-milk) url(../../assets/images/smile_ok.png)
    no-repeat center center / contain;
}

.app.milk .btn_delete_values.mustardSeed__icon1 {
  background: var(--delete_btn-background-color-icon1-milk)
    url(../../assets/images/lamp.png) no-repeat center center / contain;
  box-shadow: var(--delete_btn-boxshadow-icon1-milk);
}

.app.milk .btn_delete_values.mustardSeed__icon1.active {
  background: var(--td-th-background-milk) url(../../assets/images/smile_ok.png)
    no-repeat center center / contain;
  box-shadow: var(--td-th-box-shadow-milk);
}

.app.milk .btn_delete_values.mustardSeed__icon2 {
  background: var(--delete_btn-background-color-icon2-milk)
    url(../../assets/images/лампо_ка.png) no-repeat center center / contain;
  box-shadow: var(--delete_btn-boxshadow-icon2-milk);
}

.app.milk .btn_delete_values.mustardSeed__icon2.active {
  background: var(--td-th-background-milk) url(../../assets/images/smile_ok.png)
    no-repeat center center / contain;
  box-shadow: var(--td-th-box-shadow-milk);
}

.app.milk .btn_delete_values::after {
  background-color: var(--after-delete-btn-color-milk);
}

.app.milk .wrapper_previous {
  background-color: var(--wrappers-btn-switch-background-color-milk);
}

.app.milk .wrapper_next {
  background-color: var(--wrappers-btn-switch-background-color-milk);
}

.app.milk .wrapper_previous:hover:after {
  background-color: var(--after-wrappers-btn-switch-color-hover-milk);
  width: 100%;
}

.app.milk .wrapper_next:hover:after {
  background-color: var(--after-wrappers-btn-switch-color-hover-milk);
  width: 100%;
}

.app.milk .button_previous {
  border-right: 30px solid var(--triangle-color-milk);
}

.app.milk .button_next {
  border-left: 30px solid var(--triangle-color-milk);
}

.app.milk .mustardSeed__counter1 {
  color: var(--mustardseed-counter-text-color-milk);
}

.app.milk .mustardSeed__counter2 {
  color: var(--mustardseed-counter-text-color-milk);
}

/* +++++++++++++++++++++++++++++++++++++menu burger++++++++++++++++++++++++++++++++++++++ */

.app.milk .menu__burger__header > span {
  background-color: var(--burger-menu-color-milk);
}

.app.milk .menu__burger__header:after {
  background-color: var(--burger-menu-color-milk);
}

.app.milk .menu__burger__header:before {
  background-color: var(--burger-menu-color-milk);
}

.app.milk .mouse__over {
  color: var(--burger-menu-color-milk);
  font-family: 'Natasha';
}

.app.milk .nav {
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
  background-color: var(--all-wrappers-background-color-milk);
}

.app.milk .nav > a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--all-text-color-milk);
}

.app.milk .menu__item:after {
  background-color: var(--all-text-color-milk);
}

.app.milk .release {
  color: var(--release-color-milk);
}

.app.milk .back_to_top {
  background: var(--back-to-top-background-color-milk);
}

.app.milk .back_to_top:hover {
  background: var(--back-to-top-background-color-hover-milk);
}

/* +++++++++++++++++++++++++++++++++++++instructions++++++++++++++++++++++++++++++++++++++ */

.app.milk .instr__wrapper {
  font-family: 'Choco cooky';
  background-color: var(--all-wrappers-background-color-milk);
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
  color: var(--all-text-color-milk);
}

.app.milk .instr__wrapper::after {
  background-color: var(--release-color-milk);
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
}

/* +++++++++++++++++++++++++++++++++++++modal window++++++++++++++++++++++++++++++++++++++ */

.app.milk .modal__window {
  background-color: var(--all-wrappers-background-color-milk);
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
}

.app.milk .modal__text {
  color: var(--all-text-color-milk);
}

.app.milk .modal__window:after {
  background-color: var(--release-color-milk);
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
}

.app.milk .modal__data {
  color: var(--release-color-milk);
}

.app.milk .modal__btn {
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
}

.app.milk .modal__btn:hover {
  box-shadow: var(--modal-btn-boxshadow-hover-milk);
}

.app.milk .modal__btn:active {
  box-shadow: var(--modal-btn-boxshadow-active-milk);
}

.app.milk .overlay {
  background-color: var(--overlay-background-color-milk);
}

/* +++++++++++++++++++++++++++++++++++++tables menu wrapper+++++++++++++++++++++++++++++++++++ */

.app.milk .tables__menu__wrapper.open {
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
  background: var(--all-wrappers-background-color-milk);
}

.app.milk .tables__total.open {
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
  background: var(--all-wrappers-background-color-milk);
}

/* +++++++++++++++++++++++++++++++++++++Themes Wrapper+++++++++++++++++++++++++++++++++++ */

.app.milk .themes__wrapper {
  color: var(--all-text-color-milk);
  box-shadow: var(--all-wrappers-menu-boxshadow-milk);
  background-color: var(--all-wrappers-background-color-milk);
}

.app.milk .themes__title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--all-text-color-milk);
}

.app.milk .menu__item > a {
  color: var(--all-text-color-milk);
  box-shadow: var(--menu-item-boxshadow-milk);
}

.app.milk .table::-webkit-scrollbar {
  width: 10px;
}

.app.milk .table::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.app.milk .table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}
