:root {
  --color-titleAfter: blue;
  --shadow-titleAfter: none;
  --animation-titleAfter: none;
  --animation-titleBefore: none;
  --border-titleAfter: none;
  --border-titleBefore: none;
  --color-JW-label: #5b3c88;
  --color-Release: none;
  --days-after: none;
  --tables-menu-wrapper: 400px;
  --after-delete-button: url(../assets/images/delete.png) no-repeat center
    center / contain;
  --beforeHoursSum: none;
  --afterHoursSumTransferText: none;
  --beforeTds: none;
  --days-today-background: rgba(183, 0, 255, 0.195);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.reports__title {
  font-family: 'Natasha';
  font-size: 20px;
  position: absolute;
  right: 5vw;
  top: 1%;
  z-index: 2000;
}

.days_today {
  transition: all 1s ease-out 0s;
}

.reports__title:after,
.reports__title:before {
  position: absolute;
  content: '';
  height: 5px;
  border-radius: 50px;
  background-color: var(--color-titleAfter);
  box-shadow: var(--shadow-titleAfter);
  bottom: -7px;
  width: 0;
}

.reports__title:after {
  border: var(--border-titleAfter);
  left: 0;
}

.reports__title:before {
  border: var(--border-titleBefore);
  right: 0;
}

.reports__title:after {
  animation: var(--animation-titleAfter);
}

.reports__title:before {
  animation: var(--animation-titleBefore);
}

@keyframes loadingStart {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadingFinish {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.sticky {
  position: absolute;
  background: inherit;
  height: 0;
  width: 100vw;
  top: 0;
  transition: height 0.1s ease-out 0s;
  z-index: 1;
}
