.instr__wrapper {
 position: absolute;
 top: 45px;
 left: -300%;
 width: 90%;
 z-index: 2000;
 border-radius: 20px;
 padding: 30px 15px 20px;
 transition: left 1.5s ease-out, transform 1.5s ease-out;
}

.instr__wrapper.active {
 left: 50%;
 transform: translate(-50%);
 height: fit-content;
 scroll-behavior: smooth;
}

.delete__instr {
 position: absolute;
 top: 10px;
 left: 3%;
 z-index: 3000;
 width: 15px;
 height: 15px;
 background: url(../assets/images/delete.png)no-repeat center center / contain;
 cursor: pointer;
 animation: myout 1s ease 0s 0.515 normal forwards;
}

.delete__instr:hover {
 animation: my 1s ease 0s 1 normal forwards;
}

@keyframes my {
 0% {
  transform: rotate(0);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes myout {
 0% {
  transform: rotate(360deg);
 }

 100% {
  transform: rotate(-80deg);
 }
}

.instr__item {
 position: relative;
 line-height: 15px;
 text-align: revert;
}

.instr__item:not(:last-child) {
 margin-bottom: 25px;
}

.instr__text1::after {
 position: absolute;
 content: '';
 bottom: -30px;
 right: 0;
 background: url(../assets/images/heart_smile.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__text2::after {
 position: absolute;
 content: '';
 bottom: -36px;
 right: 0;
 background: url(../assets/images/imperturbable_smile.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__text3::after {
 position: absolute;
 content: '';
 bottom: -38px;
 right: 0;
 background: url(../assets/images/usualy_smile.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__text4::after {
 position: absolute;
 content: '';
 bottom: -32px;
 right: 0;
 background: url(../assets/images/wink_smile.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__text5::after {
 position: absolute;
 content: '';
 bottom: -35px;
 right: 0;
 background: url(../assets/images/wide__smile.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__text7::after {
 position: absolute;
 content: '';
 bottom: -35px;
 right: 0;
 background: url(../assets/images/smile__rose.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.instr__bye {
 position: relative;
}

.instr__bye::after {
 position: absolute;
 content: '';
 bottom: -40px;
 left: 0;
 background: url(../assets/images/input_info.png) no-repeat center center / contain;
 width: 40px;
 height: 40px;
}

.prava {
 margin-top: 10px;
}
