/*---------------------- Media Queries-------------- */

/*1200px..... */
@media screen and (max-width: 100000px) {
 .container {
  width: 98%;
 }
 .modal__window {
  max-width: 490px;
 }
 .slide {
  width: 100%;
 }
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
 .modal__window {
  max-width: 490px;
 }
}

/* 768-992px */
@media screen and (max-width: 992px) {
 .modal__window {
  max-width: fit-content;
 }
 .themes__wrapper {
  top: 125px;
 }
 .themes__wrapper.open {
  left:75.5vw;
  opacity: 1;
  transition: opacity 1.2s ease 0.5s;
  animation: myAnim 1s ease 1.2s 1 normal forwards;
 }
 @keyframes myAnim {
  0% {
   left: 75.5vw;
   top: 125px;
  }
  100% {
   left: 4%;
   top: 45px;
  }
 }
}

/* 576-768px */
@media screen and (max-width: 768px) {
 .app {
  padding: 50px 0;
 }
 .wrapper_previous, .wrapper_next {
  top: auto;
  width: 49%;
  height: 50px;
 }
 .wrapper_previous {
  left: 0;
 }
 .wrapper_next {
  right: 0;
 }
 .button_previous {
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .button_next {
  right: 50%;
  transform: translate(50%, -50%);
 }
 .wrapper_previous:active {
  left: -1%;
 }
 .wrapper_next:active {
  right: -1%;
 }
 .themes__wrapper {
  top: 170px;
 }
 .themes__wrapper.open {
  left:68.9vw;
  opacity: 1;
  transition: opacity 1.2s ease 0.5s;
  animation: myAnim 1s ease 1.2s 1 normal forwards;
 }
 @keyframes myAnim {
  0% {
  left: 68.9vw;
   top: 170px;
  }

  100% {
  left: 4%;
   top: 45px;
  }
 }
}

/* 320-658px  */
@media screen and (max-width: 658px) {
 .modal__window{
  max-width: 330px;
 }
}

/* 320-488px  */
@media screen and (max-width: 488px) {
  .instr__wrapper.active {
    height: 85vh;
    overflow-y: auto;
   }
}

/* 320-576px  */
@media screen and (max-width: 576px) {
  td, th {
   font-size: 10px;
  }
  .btn__delete {
   font-size: 12px;
   letter-spacing: 4px;
  }
  .back_to_top {
   right:0;
  }
  .themes__wrapper {
    top: 283px;
  }
  .themes__wrapper.open_menu {
   left:42.9vw;
   opacity: 1;
   transition: opacity 1.2s ease 0.5s;
   animation: myAnim 1s ease 1.2s 1 normal forwards;
  }
  .instr__wrapper {
    width: 105%;
  }
  @keyframes myAnim {
    0% {
    left: 42.9vw;
      top: 283px;
    }
  
    100% {
    left: 0;
      top: 40px;
    }
  }
}

@keyframes slideRight {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}