.tables__menu__wrapper {
  max-height: var(--tables-menu-wrapper);
  height: fit-content;
  position: absolute;
  top: 42px;
  right: 20px;
  padding: 10px 10px 20px 10px;
  z-index: 1000;
  border-radius: 25px;
  transition: opacity 1s ease-in;
  opacity: 0;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 135px;
}

.tables__menu__wrapper.open {
  opacity: 1;
}

.tables__menu__wrapper > .menu__link {
  margin: 0px 10px 10px 0;
}

.data_transfer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_dataTransfer {
  margin-bottom: 10px;
}

.dataTransfer_control {
  border-radius: 10px;
  padding: 2px;
  cursor: crosshair;
}

.dataTransfer_btn {
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
